.Product {
  display: flex;
  padding-top: 56px;
}

.Product .ProductItems {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1px;
}

.Product .card {
  display: flex;
  width: 11rem;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.Product .card .card-img-top {
  height: 160px;
}

.Product .card .card-img-top > img {
  width: 100%;
  height: 100%;
}

.Product .card .card-title {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-size: 1rem;
}

.Product .card .card-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
}

.Product .card .card-text {
  display: none;
}

.Product .card .footer {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.Product .card .footer .product-price {
  font-weight: bold;
}

.Product .card .footer .addToCart {
  margin-left: auto;
}

.Product .addToCart button {
  cursor: pointer;
}

@media (min-width: 600px) {
  .Product .ProductItems {
    grid-gap: 5px;
    grid-template-columns: 1fr;
  }

  .Product .card .card-text {
    display: block;
    margin-top: 0.3rem;
  }

  .Product .card {
    width: 100%;
    max-width: 20rem;
  }

  .Product .card .card-img-top {
    height: 300px;
  }

  .Product .card .card-img-top > img {
    width: 100%;
  }

  .Product .card .card-title {
    font-size: 1.1rem;
  }
}

@media (min-width: 872px) {
  .Product .ProductItems {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1205px) {
  .Product .ProductItems {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
